body{
    background-color:rgb(176, 230, 178);
}

#about{
    background-color: antiquewhite;
    font-family: cursive;
    width: 300px;
    border: 5px solid green;
    padding: 70px;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    padding: 50px;
    background-color: #dddddd;
}

#biodata{
    background-color: rgba(221, 127, 255, 0.423);
    font-family: fantasy;
    width: 300px;
    border: 5px solid green;
    padding: 70px;
    margin: 20px;
}

#contact{
    background-color: cornflowerblue;
    width: 300px;
    border: 5px solid green;
    padding: 70px;
    margin: 20px;
}

.perkenalan{
    color: rebeccapurple;
}

h3{
    background-color: chartreuse;
    text-align: center;
    font-family: serif;
}

footer{
    background-color:rgba(248, 205, 255, 0.585);
}